@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "@seashail/web-theme/theme.css";

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
